remailTo:   crashteam@security.rc.rug.nl

replyTo:    Crashteam SIGNED AND ENCRYPTED <crashteams@security.rc.rug.nl>

member:     f.b.brokken@rug.nl

recipient:  frank

signature:  good

# signature:  required
