# All keywords are interpreted case insensitively

# logfile: name of the logfile (absolute or relative to $HOME)
# logfile: etc/remailer.log

# loglevel: 0: debug, 1: commands, 2: default
# loglevel: 2

# debug: true has the same effect as the --debug or -d flag
# debug: false

# noMail: if true no mail is sent (same effect as the --no-mail flag)
# noMail: true

# keepfiles keeps the files, and requires sufix nr of files to write
keepfiles: 1

# tmp: location tmp dir (absolute or relative to $HOME)
# tmp: tmp 

# The Reply-To header (one line, no (double) quotes)
#replyTo:    Fill in your reply-to <somebody@somewhere.org>
replyTo: Frank <frank@localhost>

# where will the reencrypted mail be sent to (multiple recipients OK)
# recipient:  frank
recipient:  mailing.list@somehost.org

# reencrypt to which address(es)? (multiple members OK)
member: user1@mailhost.org
member: user2@mailhost.org

# signature specs may be:   absent: none required, 
#                           required: the encrypted file must have been signed
#                           good: the signature must have been recognized as
#                                 good
# signature:  good
signature:  required
